.Titulo {
    display: inline-table;
    text-align: center;
    padding: 50px;
    font-size: 50px;
}

.Inicio {
    text-align: center;
    color: rgb(32, 129, 219);
    font-size: 50px;
}



.Time {

 font-size: 75px;
 border-style: groove;
}